h1 {
    text-align: center;
}

h2 {
    background-color: #a9a7a7;
    text-align: center;
    width: 500px;
    margin: auto;
    border-radius: 10px;
}

fieldset {
    /* text-align: center; */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    border: 1px solid black;
}

header {
    border-radius: 20px;
    height: 150px;
    margin: 10px;
    background-image: url("C:\\Users\\HASRIAN TOPTECH\\Desktop\\my brother\\Image\\1744388445701.jpg");
    background-repeat: round;
    background-size: cover;
}

form {
    margin-top: 20px;
    text-align: center;
}

b {
margin-right:150px;
}

p {
    text-align: center;
}

button {
    background-color: rgb(81 255 81);
    border-radius: 10px;
    width: 8vw;


}

input {
    width: 200px;
    margin: auto;
    height: 20px
}

textarea {
    width: 200px;
    height: 100px;
    margin: 10px;
}

p::selection {
    background-color: black;
    color: yellow;
}

blockquote {
    text-align: center;
}

.cards {
    background-color: #67668738;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: auto;
}

.card {
    margin: 5px 5px;
    border-radius: 10px;
    width: 34vw;
    border: 1px solid black;
    height: 570px;
    background-color: aliceblue;
}

.card img {
    width: 100%;
    height: 41vh;
    border-radius: 10px
}

body {
    border: 1px solid black;
    border-radius: 15px;
    width: 70vw;
    font-family: Arial;
    direction: rtl;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;

    padding: 0;
}


nav {
    background: #5251ff;
    margin: 10px;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 10px;
    text-decoration: underline;
    margin-left: 10px;
    margin-right: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

aside {
    background: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
}

table {
    width: 100%;
    text-align: center;
}



footer {
    background: black;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 5px;
}

figcaption {
    width: 27vw;
}

h3 {
    text-align: center;
}